.avatar-upload {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 350px;
}

.avatar {
    height: 200px;
    width: 200px;
    margin-left: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.set-password {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 350px;
}

.tabs li {
    list-style: none;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.tabs-contents {

    width: 100%;
    color: cornsilk;
}

.tabs {    
    font-size: 20px;
    padding-top: 10px;
    background-image: url('./bg_01.jpg');
}