.avatar-upload {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 350px;
}

.avatar {
    height: 200px;
    width: 200px;
    margin-left: 85px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.set-password {
    box-sizing: border-box;
    float: left;
    width: 50%;
    height: 350px;
}

.tabs li {
    list-style: none;
    display: inline-block;
    margin-left: 1px;
}

.tabs-contents {
    height: 67px;
    width: 100%;
    color: cornsilk;
}

.tabs {
    margin-top: 1px;  
    font-size: 20px;
    background-image: url('./bg_01.jpg');
}

.top {
    margin-top: 0px;
}

.change {
    height: 47px;
}

.pwchange {
    height: 47px;
}

.cbtn {
    height: 47px;  
}