
.info-box {
    border: 2px solid yellow;;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    /* text-align:center; */
    box-sizing: border-box;
    
}

.img-box {
    width: 570px;
    height: 570px;
    background-color: rgba(0, 0, 0, 0.2);
    font-size: large;
    line-height:570px;
    display:block;
    text-align:center;
    margin-top: 10px;
    float: left;
    margin-right: 20px;
}

.pic-preview{
    vertical-align: middle;
}
.img-detail {
    max-width: 550px;
    max-height: 550px;
    vertical-align: middle;
    
}
.img-info {
    box-sizing: border-box;
    float: left;
    width: 35%;
    height: 90%;
    border: 2px solid blue;
    margin-top: 3%;
    margin-left: 30px;
    /* text-align:center; */
}

.tag-name {
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    border-radius: 8px;
    color: white;
    min-width: 1px;
    float: left;
    margin-left: 3px;
    padding: 2px;
    margin-bottom: 3px;
}

.user-info {
    border: 2px solid red;
    display: flex;
    /* justify-content: center; */
}

.like-btn {
}

.tags {
    border: 2px solid black
}

.profile {
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
}

.user{
    display: flex;
    align-content: center;
}

.icon{
    margin-right: 10px;
    
}