
.search-bar {
    height: 80px;
    width: 100%;
    padding: 0;
    border: 1px solid yellow;
    text-align: center;
    display: block;
}

.form-control {
    width: 500px;
    height: 20px;
    margin-top: 10px;
}

.recommand {
    overflow: hidden;
    width: 500px;
    max-height: 100px;
    margin: auto;
    margin-right: 50px;
    display: inline-flex;
    min-height: 0px;
}

.recommand-tag {
    background: #fff;
    position: absolute;
    text-align: left;
    width: 500px;
    min-height: 0px;
    box-shadow: 0 4px 6px rgba(32,33,36,.28);
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 10px;
    border-radius: 0 0 24px 24px;
    overflow: hidden;
    min-height: 0px;
}

.map-tag {
    height: 20px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 15px;
    border-radius: 8px;
    color: white;
    min-width: 1px;
    float: left;
    margin-left: 3px;
    padding: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
}