@import url(//fonts.googleapis.com/earlyaccess/nanumpenscript.css);

.upload-logo{
    height: 200px;
    width: 100%;
    padding: 0;
    text-align: center;
    display: block;
    background-image: url('./mypage/bg_01.jpg');
    margin-bottom: 10px;
}

.tag-button{
    height: 46px;
    width: 50px;
    margin-left: 20px;
}

.input-btn {
    height: 46px;
    width: 200px;
}

.upload-file {
    margin: auto;
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.upload-btn {
    height: 40px;
    width: 60px;
    margin-left: 20px;
}
.click-btn {
    font-family: 'Nanum Pen Script', cursive;
    background-color: white;
    color: red;
    font-size: 18px;
}
.usetag {
    overflow: hidden;
    width: 500px;
    max-height: 150px;
    margin: auto;
    align-content: center;
    min-height: 0px;
}

.add-usetag {
    background: #fff;
    position: absolute;
    text-align: left;
    width: 500px;
    min-height: 0px;
    max-height: 150px;
    box-shadow: 0 4px 6px rgba(32,33,36,.28);
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 0;
    padding-left: 10px;
    overflow: hidden;
    min-height: 0px;
}

.upload-box {
    width: 100%;
    margin-top: 80px;
    height: 600px;
    text-align:center;
    box-sizing: border-box; 
    align-content: center;
}

.preview-box {
    width: 750px;
    height: 750px;
    font-size: large;
    line-height:750px;
    display:block;
    text-align:center;
    border: 5px double black;
    align-content: center;
    margin: auto;
}

.pic-preview{
    vertical-align: middle;
}
.preview {
    width: auto; 
    height: auto;
    max-width: 720px;
    max-height: 720px;
    margin: auto;
    vertical-align:middle;
}
.tag-input{
    width: 500px;
    height: 40px;
    margin-top: 50px;
    font-size: 18px;
}::placeholder{
    font-size: 18px;
}

.tag-form {
    height: 25px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 20px;
    border-radius: 8px;
    color: white;
    min-width: 1px;
    float: left;
    margin-left: 3px;
    padding: 2px;
    margin-bottom: 3px;
}

.delete-tag {
    color: black;
    font-size: 15px;
    width: 15px;
    height: 20px;
    margin: 0px;
    margin-left: 5px;
    cursor: pointer;
}